name: Spinner test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install ".[dev]"
    - name: Basic benchmark test
      run: |
         spinner -c docs/examples/sleep_benchmark.yaml -r
    - name: Timeout test
      run: |
         spinner -c docs/examples/timeout_test.yaml -r
    - name: Capture output test
      run: |
         spinner -c docs/examples/capture_output.yaml -r -e
    - name: upload produced graphs
      uses: actions/upload-artifact@v4
      with:
        name: generated graphs
        path: |
          report.html
          output/
